#about-me {
  // margin: 25px 0;
  animation: slide-in 0.5s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  .paragraph {
    max-width: 80%;
    margin-inline: auto;
    text-align: center;
  }
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 25px 0;
  }
  .icon {
    cursor: pointer;
    svg {
      transition: transform 0.5s ease-in-out;
      path {
        transition: fill 0.5s ease-in-out;
      }
    }
    &:hover {
      svg {
        transform: scale(1.1);
        path {
          fill: $primary-color;
        }
      }
    }
  }
}
