* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: $text-color;
  text-decoration: none;
}
.heading {
  text-align: center;
  margin-bottom: 25px;
}
img {
  width: 100%;
  height: auto;
}
section {
  padding: 25px 0;
}
